:root {
    --white: #FFFFFF;
    --black: #000000;
    --jet: #343434;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --hospital-green-light: #def5e1;
    --vsm: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    --hospital-shadow: rgba(172,217,178,0.75);
    --hospital-light: rgba(172,217,178,0.075);
}
