@use "./vars";

    .secondary-button {
        background-color: var(--white);
        border-radius: 8px;
        border: 1px solid var(--hospital-green);
        color: var(--hospital-green);
        width: 100%;
        cursor: pointer;
        font-size: var(--md);
        font-weight: bold;
        height: 50px;

        
    }

      .login-button {
        margin-top: 14px;
        margin-bottom: 30px;
        box-shadow: 0px 15px 40px -12px var(--hospital-shadow);
      }
      @media (hover: hover) {
        .secondary-button:hover{
          background: var(--hospital-light);
        }
    }

